.DS_Store

venv
__pycache__

out/back/*
!out/back/EMPTY.md
out/front/*
!out/front/EMPTY.md
out/double_sided/*
!out/double_sided/EMPTY.md
out/output/*
!out/output/EMPTY.md
out/decklist/*
!out/decklist/EMPTY.md

data/*
!data/games_index.json

images/*.xcf

hugo/public/